<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wordHtmlMapper" >

    <select id="findByWord" parameterType="java.lang.String" resultType="map">
        SELECT
            id,
            word,
            chinese,
            word_type,
            translate
        FROM
            ew_word_html
        WHERE
            word = #{word}
	</select>

    <update id="updateByWord" parameterType="map">
        UPDATE ew_word_html
        <set>
            <if test="chinese != null">chinese=#{chinese},</if>
            <if test="word_type != null">word_type=#{word_type},</if>
            <if test="translate != null">translate=#{translate},</if>
            <if test="modifyId != null">modifyId=#{modifyId},</if>
            <if test="lastModified != null">lastModified=#{lastModified},</if>
        </set>
        WHERE word = #{word}
    </update>

    <insert id="save" parameterType="map">
        INSERT INTO ew_word_html(id,word,chinese,word_type,translate,creatorId,createTime,modifyId,lastModified)
        VALUE(#{id},#{word},#{chinese},#{word_type},#{translate},#{creatorId},#{createTime},#{modifyId},#{lastModified})
    </insert>
</mapper>