<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lingzhen.myproject.lifefolder.mapper.EnglishWordMapper" >

    <select id="lexicon4500List" resultType="map" parameterType="map" >
        SELECT word,phoneticSigns_uk,phoneticSigns_us,noun,verb,adjective,pluralForm,resentParticiple,pastTense
        FROM ew_lexicon_4500
        <where>
            <if test="search != null and search != ''">
                word LIKE '%${search}%'
                OR noun LIKE '%${search}%'
                OR verb LIKE '%${search}%'
                OR adjective LIKE '%${search}%'
            </if>
        </where>
    </select>

    <update id="exeUpdateSQL" parameterType="java.lang.String" >
        ${_parameter}
    </update>
</mapper>