<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingzhen.myproject.lifefolder.mapper.FileMapper">

    <insert id="insertFile" parameterType="map" >
        INSERT INTO sys_file(uuId,newFileName,fileName,fileType,fileSize,filePath,createTime,createDate,creatorId)
        VALUE (#{uuId},#{newFileName},#{fileName},#{fileType},#{fileSize},#{filePath},#{createTime},#{createDate},#{creatorId})
    </insert>

    <select id="findById" parameterType="java.lang.String" resultType="map" >
        SELECT uuId,newFileName,fileName,fileType,fileSize,filePath,createTime,createDate,creatorId
        FROM sys_file
        WHERE uuId = #{_parameter}
    </select>

</mapper>
