<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingzhen.myproject.lifefolder.mapper.StoreMapper">

    <select id="myProject" parameterType="java.lang.Long" resultType="map" >
        SELECT
            up.pkId,
            up.projectId,
            sp.projectName,
            sp.projectSecondName,
            sp.iconUrl,
            sp.entranceType,
            sp.entrance,
            sp.description,
            up.state,
            sp.type,
            sp.description
        FROM store_user_project up
        LEFT JOIN store_project sp ON up.projectId = sp.projectId
        WHERE up.userId = #{_parameter} AND up.state = 1
    </select>

    <select id="projectList" parameterType="map" resultType="map" >
        SELECT
            sp.projectId,
            sp.projectName,
            sp.projectSecondName,
            sp.iconUrl,
            sp.description,
            up.state
        FROM
            store_project sp
        LEFT JOIN store_user_project up ON up.projectId = sp.projectId AND up.userId = #{userId}
        WHERE sp.state = 1
        AND sp.projectId != 1
    </select>

    <select id="findById" parameterType="string" resultType="map" >
        SELECT projectId,projectName,projectSecondName,iconUrl,entranceType,entrance,type,state,description
        FROM store_project
        WHERE projectId = #{_parameter}
    </select>

</mapper>
