<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
    <settings>
        <setting name="logImpl" value="org.apache.ibatis.logging.slf4j.Slf4jImpl"/>
    </settings>

    <typeAliases>
        <!-- PageData对象 -->
        <typeAlias type="com.lingzhen.myproject.englishword.util.PageData" alias="pd"></typeAlias>
    </typeAliases>
    
    <plugins>
        <plugin interceptor="com.lingzhen.myproject.englishword.plugin.ListPagePlugin">
            <property name="sqlId" value=".*listPage" />
        </plugin>
    </plugins>
</configuration>