<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lingzhen.rdm.mapper.EnglishWordMapper" >

    <select id="lexicon4500List" resultType="map" parameterType="map" >
        SELECT
            el.elId,el.word,el.phoneticSigns_uk,el.phoneticSigns_us,el.noun,
            el.verb,el.adjective,el.pluralForm,el.resentParticiple,el.pastTense,
            ef.efId
        FROM ew_lexicon_4500 el
        LEFT JOIN ew_favorites ef ON ef.elId = el.elId
        <where>
            <if test="search != null and search != ''">
                el.word LIKE '%${search}%'
                OR el.noun LIKE '%${search}%'
                OR el.verb LIKE '%${search}%'
                OR el.adjective LIKE '%${search}%'
            </if>
        </where>
        ORDER BY el.word
    </select>

    <select id="findLexicon4500ById" parameterType="java.lang.Long" resultType="map" >
        SELECT
            elId,word,phoneticSigns_uk,phoneticSigns_us,noun,
            verb,adjective,pluralForm,resentParticiple,pastTense
        FROM ew_lexicon_4500
        WHERE elId = #{elId}
    </select>

    <update id="lexicon4500Edit" parameterType="map" >
        UPDATE ew_lexicon_4500
        <set>
            phoneticSigns_uk = #{phoneticSigns_uk},
            phoneticSigns_us = #{phoneticSigns_us},
            noun = #{noun},
            verb = #{verb},
            adjective = #{adjective},
            pluralForm = #{pluralForm},
            resentParticiple = #{resentParticiple},
            pastTense = #{pastTense},
            pastTense = #{pastTense}
        </set>
        WHERE elId = #{elId}
    </update>

    <update id="exeUpdateSQL" parameterType="java.lang.String" >
        ${_parameter}
    </update>

    <select id="findFavoritesById" parameterType="map" resultType="map" >
        SELECT
            efId,
            userId
        FROM
            ew_favorites
        WHERE userId = #{userId}
        AND elId = #{elId}
    </select>

    <insert id="insertFavorites" parameterType="map" useGeneratedKeys="true" >
        INSERT INTO ew_favorites(userId,elId,createDate,createTime)
        VALUE (#{userId},#{elId},#{createDate},#{createTime})
    </insert>

    <select id="favoritesList" parameterType="map" resultType="map" >
        SELECT
            el.elId,el.word,el.phoneticSigns_uk,el.phoneticSigns_us,el.noun,
            el.verb,el.adjective,el.pluralForm,el.resentParticiple,el.pastTense,
            ef.efId
        FROM ew_favorites ef
        LEFT JOIN ew_lexicon_4500 el ON el.elId = ef.elId
        WHERE ef.userId = #{userId}
        <if test="search != null and search != ''">
            el.word LIKE '%${search}%'
            OR el.noun LIKE '%${search}%'
            OR el.verb LIKE '%${search}%'
            OR el.adjective LIKE '%${search}%'
        </if>
        ORDER BY ef.createTime DESC
    </select>

    <delete id="deleteFavorites" parameterType="map" >
        DELETE FROM ew_favorites WHERE userId = #{userId} AND elId = #{elId}
    </delete>

</mapper>