<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lingzhen.rdm.mapper.RedisDesktopManagerMapper" >

    <select id="findConnectionByUserId" resultType="map" parameterType="java.lang.Long" >
        SELECT
            csId,
            userId,
            connectionName,
            address,
            port,
            createDate,
            createTime
        FROM rdm_connection_setting
        WHERE userId = #{_parameter}
        ORDER BY createTime
    </select>

    <insert id="save" parameterType="map" useGeneratedKeys="true" keyProperty="csId" >
        INSERT INTO rdm_connection_setting(userId,connectionName,address,port,auth,defaultFilter,databaseDiscoveryLimit,createDate,createTime)
        VALUE (#{userId},#{connectionName},#{address},#{port},#{auth},#{defaultFilter},#{databaseDiscoveryLimit},#{createDate},#{createTime})
    </insert>

    <delete id="delete" parameterType="map" >
        DELETE FROM rdm_connection_setting WHERE userId = #{userId} AND csId = #{csId}
    </delete>

    <select id="findById" parameterType="map" resultType="map" >
        SELECT
            connectionName,
            address,
            port,
            auth,
            defaultFilter,
            databaseDiscoveryLimit,
            createDate,
            createTime
        FROM rdm_connection_setting
        WHERE userId = #{userId}
        AND csId = #{csId}
    </select>

    <update id="edit" >
        UPDATE rdm_connection_setting
        SET
            connectionName = #{connectionName},
            address = #{address},
            port = #{port},
            auth = #{auth},
            defaultFilter = #{defaultFilter},
            databaseDiscoveryLimit = #{databaseDiscoveryLimit}
        WHERE
            csId = #{csId}
        AND userId = #{userId}
    </update>

    <insert id="addOperationLog" parameterType="map" useGeneratedKeys="true" >
        INSERT INTO rdm_operation_log(userId,addressName,addressUrl,database,operation,time,state,remark,createDate,createTime)
        VALUE (#{userId},#{addressName},#{addressUrl},#{database},#{operation},#{time},#{state},#{remark},#{createDate},#{createTime})
    </insert>

</mapper>