@CHARSET "UTF-8";
.navbar-static-side{
	z-index: 2001;
	position: absolute;
	width: 220px;
}
。gray-bg{
  background-color: #f3f3f4;
}
#page-wrapper{
	margin: 0 0 0 220px;
    position: relative !important;
    padding: 0 15px;
}
.navbar-static-top {
  background: #f3f3f4;
  border-bottom: 1px solid #e7eaec !important;
}
