<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="userTimeWordMapper" >

    <select id="findByUserAndTime" parameterType="pd" resultType="pd">
        SELECT
            utw.id,
            utw.userId,
            utw.time,
            utw.word,
            utw.creatorId,
            utw.createTime,
            wordTab.chinese
        FROM
            ew_user_time_word utw
        LEFT JOIN ${tab} wordTab ON wordTab.word = utw.word
        WHERE
            userId = #{userId}
        AND
            time = #{time}
	</select>

    <insert id="save" parameterType="pd">
        INSERT INTO ew_user_time_word(id,userId,time,word,creatorId,createTime)
        VALUE(#{id},#{userId},#{time},#{word},#{creatorId},#{createTime})
    </insert>
</mapper>