<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--
    标签在配置文件中的位置必须符合要求，否则会报错，顺序如下:
    <properties></properties>
    <settings></settings>
    <typeAliases></typeAliases>
    <typeHandlers></typeHandlers>
    <objectFactory></objectFactory>
    <objectWrapperFactory></objectWrapperFactory>
    <plugins></plugins>
    <environments></environments>
    <databaseIdProvider></databaseIdProvider>
    <mappers></mappers>
-->
<!--    <settings>-->
<!--        <setting name="logImpl" value="org.apache.ibatis.logging.slf4j.Slf4jImpl"/>-->
<!--    </settings>-->

    <settings>
        <setting name="logImpl" value="SLF4J"/>
    </settings>
    <typeAliases>
        <typeAlias type="java.util.Map" alias="map"></typeAlias>
        <typeAlias type="java.lang.String" alias="string"></typeAlias>
    </typeAliases>

<!--    <plugins>-->
<!--        <plugin interceptor="com.lingzhen.myproject.englishword.plugin.ListPagePlugin">-->
<!--            <property name="sqlId" value=".*listPage" />-->
<!--        </plugin>-->
<!--    </plugins>-->

</configuration>
